<div id="professores" class="col-12 my-2 pr-5">
    <div class="card-header" id="headingJava">
        <h4 class="mb-0"> 
          <button id="btn" class="btn btn-link" data-toggle="collapse" data-target="#collapseJava" aria-expanded="true" aria-controls="collapseOne">
            Professores
          </button> 
        </h4>
      </div>
  
      <div id="collapseJava" class="collapse show" aria-labelledby="headingJava" data-parent="#java">
        <div class="card-body">
          <p>Em nossa escola, contamos com renomeados professores, prontos e capacitados para te passar conhecimento da melhor forma possível!
              <br>
              <br>
              Entre o nosso rol de professores, temos:
              <br>
              <br>
              Prof. Rodrigo Bossini
              <br>
              Prof. Hamilton Machiti
              <br>
              Prof. Elcio Abraão
              <br>
              Prof. Igor Moreira

          </p>
        </div>
      </div>
</div>
