<div class="col-xs-1-12">
                
    <section id="cursos" class="col">

        <h2 class="col-4 my-4 " style="font-size: x-large;">Cursos Oferecidos</h2>
        <article class="col">
            <div id="java" class="col-12 my-2 pr-5">
                <div class="card-header" id="headingJava">
                    <h4 class="mb-0"> 
                      <button id="btn" class="btn btn-link" data-toggle="collapse" data-target="#collapseJava" aria-expanded="true" aria-controls="collapseOne">
                        Curso de Java para iniciantes
                      </button> 
                    </h4>
                  </div>
              
                  <div id="collapseJava" class="collapse show" aria-labelledby="headingJava" data-parent="#java">
                    <div class="card-body">
                      <p>Nesse curso você aprenderá o básico para a programação na linguagem Java!</p>
                    </div>
                  </div>
            </div>
            <div id="unity" class="col-12 my-2 pr-5">
                <div class="card-header" id="headingUnity">
                    <h4 class="mb-0"> 
                      <button id="btn" class="btn btn-link" data-toggle="collapse" data-target="#collapseUnity" aria-expanded="true" aria-controls="collapseOne">
                        Curso de Unity para iniciantes
                      </button> 
                    </h4>
                  </div>
              
                  <div id="collapseUnity" class="collapse show" aria-labelledby="headingUnity" data-parent="#unity">
                    <div class="card-body">
                      <p>Nesse curso você aprenderá o básico para desenvolver seus primeiros jogos na ferramenta Unity!</p>
                    </div>
                  </div>
            </div>
            <div id="kotlin" class="col-12 my-2 pr-5">
                
                <div class="card-header" id="headingKotlin">
                    <h4 class="mb-0"> 
                      <button id="btn" class="btn btn-link" data-toggle="collapse" data-target="#collapseKotlin" aria-expanded="true" aria-controls="collapseOne">
                        Curso de Kotlin
                      </button> 
                    </h4>
                  </div>
              
                  <div id="collapseKotlin" class="collapse show" aria-labelledby="headingKotlin" data-parent="#kotlin">
                    <div class="card-body">
                        <p>Nesse curso você aprenderá a programar na linguagem Kotlin para desenvolvimento nativo Android!</p>
                    </div>
                  </div>
            </div>
            <div id="cplus" class="col-12 my-2 pr-5">
                
                    <div class="card-header" id="headingC">
                      <h4 class="mb-0">
                        <button id="btn" class="btn btn-link" data-toggle="collapse" data-target="#collapseC" aria-expanded="true" aria-controls="collapseOne">
                            Curso de C++
                        </button> 
                      </h4>
                    </div>
                
                    <div id="collapseC" class="collapse show" aria-labelledby="headingC" data-parent="#cplus">
                      <div class="card-body">
                        <p>Nesse curso você aprenderá a utilizar a linguagem C++ para programar!</p>
                      </div>
                    </div>
                  
            </div>
            <div id="seguranca" class="col-12 my-2 pr-5 card">
                
                    <div class="card-header" id="headingSeguranca">
                      <h4 class="mb-0">
                        <button id="btn" class="btn btn-link" data-toggle="collapse" data-target="#collapseSeg" aria-expanded="true" aria-controls="collapseOne">
                            Curso de Segurança da Informação
                        </button> 
                      </h4>
                    </div>
                
                    <div id="collapseSeg" class="collapse show" aria-labelledby="headingSeguranca" data-parent="#seguranca">
                      <div class="card-body">
                        <p>Nesse curso você aprenderá tudo sobre a segurança em apps e afins!</p>
                      </div>
                    </div>
            </div>  
            <app-professores></app-professores>
        </article>
      </section>
</div>